# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# Build outputs
.next/
dist/
out/
build/

# misc
.DS_Store
*.pem
.superpowers/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
